---
- name: Установить и запустить Nginx на slave-нодах
  hosts: slaves                
  become: yes                 
  tasks:
    - name: Установить Nginx
      apt:
        name: nginx
        state: present         
        update_cache: yes      

    - name: Запустить и включить Nginx при загрузке
      systemd:
        name: nginx
        state: started
        enabled: yes
